<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>

  <div class="header">
    <h1>
      <%= @quote.name %>
    </h1>

    <%= link_to "New bundle", new_quote_bundle_path(@quote),
                data: { turbo_frame: "new_bundle" },
                class: "btn btn--primary" %>
  </div>

  <%= turbo_frame_tag "new_bundle" %>

  <%= render @bundles, quote: @quote %>
</main>