<%= simple_form_for(resource, as: resource_name,
                    html: { class: 'form' },
                    data: { turbo: false },
                    url: session_path(resource_name)) do |f| %>

  <div style="margin:auto;width: 300px">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", placeholder: 'Email', style: 'margin-bottom: 5px' } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", placeholder: 'Password', style: 'margin-bottom: 10px' } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

    <%= f.button :submit, "Log in", class: 'btn btn--primary' %>

    <% if Rails.env.development? %>
      <br>
      <br>
      <%= f.button :button, "Accountant",
                   type: :button,
                   onclick: "
                   document.getElementById('user_email').value='accountant@kpmg.com';
                   document.getElementById('user_password').value='password';
                   ",
                   class: 'btn btn--secondary' %>

      <br>
      <br>
      <%= f.button :button, "Manager",
                   type: :button,
                   onclick: "
                   document.getElementById('user_email').value='manager@kpmg.com';
                   document.getElementById('user_password').value='password';
                   ",
                   class: 'btn btn--secondary' %>

      <br>
      <br>
      <%= f.button :button, "Eavesdropper",
                   type: :button,
                   onclick: "
                   document.getElementById('user_email').value='eavesdropper@pwc.com';
                   document.getElementById('user_password').value='password';
                   ",
                   class: 'btn btn--secondary' %>
    <% end %>
  </div>
<% end %>