<%= turbo_frame_tag bundle do %>

  <div class="bundle">
    <%= turbo_frame_tag "edit", bundle do %>
      <div class="bundle__header">
        <h2 class="bundle__title">
          <%= l(bundle.ship_on, format: :long) %>
        </h2>

        <%
          extra = {}
          unless Rails.env.development?
            extra = { form: { data: { turbo_confirm: "Are you sure?" } } }
          end
        %>

        <div class="bundle__actions">
          <%= button_to "Delete",
                        bundle_path(bundle),
                        method: :delete,
                        **extra,
                        class: "btn btn--light" %>

          <%= link_to "Edit",
                      edit_bundle_path(bundle),
                      class: "btn btn--light" %>
        </div>
      </div>
    <% end %>

    <div class="bundle__body">
      <div class="bundle-item bundle-item--header">
        <div class="bundle-item__name">Article</div>
        <div class="bundle-item__quantity">Quantity</div>
        <div class="bundle-item__price">Price</div>
        <div class="bundle-item__actions"></div>
      </div>

      <%= render bundle.items %>

      <%= turbo_frame_tag dom_id_nested(bundle, "new_bundle_item") %>

      <div class="bundle__footer">
          <%= link_to "Add item", new_item_for_bundle_path(bundle),
                      data: { turbo_frame: dom_id_nested(bundle, "new_bundle_item") },
                      class: "btn btn--primary" %>
      </div>
    </div>
  </div>

<% end %>